<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    
    <div class="rs" id="rs">
        <a>Protectora de Animales Family - Gijón</a>
        <img class="logo" src="/assets/img/dog.gif">
        <div class="rrss-container">
            <p><a  href="https://www.Youtube.com/"><img src="/assets/img/Logo/ytb.png" class="rrss"></a></p>
            <p><a  href="https://www.Youtube.com/"><img src="/assets/img/Logo/insta.png" class="rrss"></a></p>
            <p><a  href="https://www.Youtube.com/"><img src="/assets/img/Logo/twitter.png" class="rrss"></a>
            </p>
        </div>
    </div>

     <div class="menu-toggle" id="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
     </div>

     <div class="hamburger">
        <ul>
            <li><a href="">Ayuda</a></li>
            <li><a href="">Acerca de</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </div>

    <header class="nav-container">
        <nav>
            <a class="nav-element" href=""> </a>
            <a class="nav-element" href="">Acerca de </a>
            <a class="nav-element" href="">Contacto</a>
        </nav>
    </header>


    <div class="menu-container">
        <div class="menu hamburger">
            <a href="index.html"><img src="/assets/img/house.jpg" class="house"></a>
            <a href="/templates/aboutUs.html" class="options">Sobre nosotros</a>
            <a href="/templates/contacto.html" class="options">Contacto</a>
            <a href="index.html" class="options">Fotos</a>
        </div>
    </div>
        
    <div class="fod">
        <img class="cry" src="/assets/img/monoperro.gif">
        <div>
            <h1 style="color: red;">SE NOS HAN ESCAPADO!!!</h1>
            <p>Espere paciente hasta que nuestro trabajador los alcance</p>
        </div>
    </div>

</body>
</html>